__pycache__
*.pyc
*.prototxt
*.deploy
*.bin
.vscode/
*.npy
*.tar
span.log
micro_perf/backends/*/venv/
micro_perf/reports/
infer_perf/general_perf/tools/venv/
infer_perf/general_perf/backends/*/venv/
infer_perf/general_perf/model_zoo/*
!infer_perf/general_perf/model_zoo/*.json
infer_perf/general_perf/download/*.*
!infer_perf/general_perf/download/README.md
infer_perf/general_perf/datasets/open_imagenet/preprocessed/
infer_perf/general_perf/datasets/*
!infer_perf/general_perf/datasets/fake_dataset
!*.py
infer_perf/general_perf/reports/*
!infer_perf/general_perf/_inference/general_perf/reports/README
format_code.sh
init_env.sh

infer_perf/llm_perf/download
infer_perf/llm_perf/model_zoo/sota
infer_perf/llm_perf/reports

*fusion_result*
workspace
test

*.egg-info